.venv
.venv/**
api/.venv
api/.venv/**
**/.venv
**/.venv/**
.git
.git/**
.gitignore
__pycache__
*.pyc
.env
.env.*
data/raw
data/processed
notebooks
README.md
LICENSE
web
node_modules
.vscode
.idea
*.md
