# --- Framework Web ---
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.0

# --- Procesamiento de Datos ---
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
joblib==1.4.2

# --- Deep Learning (PyTorch) ---
# Se recomienda instalar según tu arquitectura (CPU/CUDA)
torch==2.4.0
torchvision==0.19.0

# --- Visión Artificial (para el Módulo 2) ---
Pillow==10.4.0
opencv-python==4.10.0.84

# --- Utilidades ---
python-multipart==0.0.9  # Necesario para subir archivos (imágenes) en FastAPI
tqdm==4.66.5
